nav {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  justify-content: space-between;
  .logo {
    margin-right: 70px;
  }
  img {
    width: 35px;
    margin-top: 30px;
    margin-left: 50px;
  }
}
ul {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  li {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 50px;
    text-align: center;
    margin-left: 50px;
    a {
      color: black;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }

    .active {
      color: white;
      background-color: #ec6959;
      width: 240px;
      height: 50px;
      border-radius: 10px;
      &:hover {
        color: white;
      }
    }
  }
  a {
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
  }
}
//   }
// }
